<%= form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited
      this form from being saved:</h2>
    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="control-group">
    <%= f.label :name, "Name:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subject, "Subject:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, "Email Address:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, "Inquiry / Project Details:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit Contact Form", :class => 'btn btn-primary' %>
  </div>
</div>


<% end %>
