<h1>Karen, new inquiry from: <%= @contact.name %></h1>

<h2>Client Details:</h2>

<p><%= @contact.name %></p>
<p><%= @contact.email %></p>
<p><%= @contact.subject %></p>
<p><%= @contact.content %></p>
