<% provide(:title, "Welcome to KK's site - Karen Kirr is a Seattle-based web developer / designer.") %>
<% provide(:content, "Karen Kirr's Recent Web Development Projects.") %>

<div class="page-header">
<h1><%=t '.title', :default => 'Welcome' %></h1>
  <p class="hello"><strong>Hello, welcome to the home of Karen Kirr, Seattle-based web developer / designer.</strong></p>

  <p>The below projects only show a sampling of my web development work.
  <br /> Please see a few of my recent web development projects:</p>


<br class="clear" />
<div class="ms-laptop-template">
    <div class="ms-laptop-cont">
       <%= image_tag("laptop/flat-laptop.png", :alt => "Web Projects", :class => "ms-laptop-bg") %>
        <div class="ms-lt-slider-cont">
            <!-- masterslider -->
            <div class="master-slider ms-skin-default" id="masterslider">
                <div class="ms-slide">
                    <%= image_tag("laptop/blank.gif", :data => { :src  => "assets/laptop/1.jpg" }, :alt => "lorem ipsum dolor sit") %>
                </div>
                <div class="ms-slide">
                    <%= image_tag("laptop/blank.gif", :data => { :src => "assets/laptop/2.jpg" }, :alt => "lorem ipsum dolor sit") %>
                </div>
                <div class="ms-slide">
                    <%= image_tag("laptop/blank.gif", :data =>  { :src => "assets/laptop/3.jpg" }, :alt => "lorem ipsum dolor sit") %>
                </div>
                <div class="ms-slide">
                    <%= image_tag("laptop/blank.gif", :data =>  { :src => "assets/laptop/4.jpg" }, :alt => "lorem ipsum dolor sit") %>
                </div>
                <div class="ms-slide">
                    <%= image_tag("laptop/blank.gif", :data =>  { :src => "assets/laptop/5.jpg" }, :alt => "lorem ipsum dolor sit") %>
                </div>
                <div class="ms-slide">
                    <%= image_tag("laptop/blank.gif", :data =>  { :src => "assets/laptop/6.jpg" }, :alt => "lorem ipsum dolor sit") %>
                </div>
                <div class="ms-slide">
                    <%= image_tag("laptop/blank.gif", :data =>  { :src => "assets/laptop/7.jpg" }, :alt => "lorem ipsum dolor sit") %>
                </div>

            </div>
            <!-- end of masterslider -->
        </div>
    </div>
</div>
<!-- end of template -->




</div>
