<% provide(:title, "Welcome to KK's site - Karen Kirr is a Seattle-based web developer / designer.") %>
<% provide(:content, "Karen Kirr's Recent Web Development Projects.") %>

<div class="page-header">

  <h1><%=t '.title', :default => 'Welcome' %><br /> <span id="one">websites |</span> <span id="two">internal web apps</span></h1>

  <p class="hello"><strong>Hello, welcome to the home of Karen Kirr, Seattle-based web developer / designer.</strong></p>

  <p>The below projects only show a sampling of my web development work.
  <br /> Additional web development and print graphic design work will be added by mid August 2014.
  <br /> However, please see a few of my recent web development projects:</p>

<div class="left-home">
     <h2 id="webs"><%=t '.title', :default => 'Websites' %></h2>

  <div class="boxgrid slide">
  <%= image_tag("projects/clipper.jpg", :alt => "Executed front end development on clippervacations.com", :class => "cover") %>
  <div class="boxcontent">
    <h3>Client: <span>Clipper Vacations</span></h3>
    <h4>Website: www.ClipperVacations.com</h3>
    <p><strong>Languages / Technologies:</strong> Executed front-end theme development in WordPress; also integrated jQuery and Javascript, including Google Maps API.</p>
  </div>
</div>


<div class="boxgrid slide">
  <%= image_tag("projects/clipper-2.jpg", :alt => "Executed development using WordPress and AngularJS", :class => "cover") %>
    <div class="boxcontent">
      <h3>Client: <span>Clipper Vacations</span></h3>
      <h4>Website: www.ClipperCafeSeattle.com</h4>
    <p><strong>Languages / Technologies:</strong> Executed custom theme development in WordPress; also integrated AngularJS.</p>
  </div>
</div>

  <div class="boxgrid slide">
  <%= image_tag("projects/clipper-3.jpg", :alt => "Executed development using Drupal", :class => "cover" ) %>
  <div class="boxcontent">
    <h3>Client: <span>Clipper Vacations</span></h3>
    <h4>Website: www.ClipperVacationsMagazine.com</h4>
    <p><strong>Languages / Technologies:</strong> Executed custom theme development in Drupal; also integrated Javascript.</p>
  </div>
</div>

<div class="boxgrid slide">
  <%= image_tag("projects/clipper-4.jpg", :alt => "Executed development PHP", :class => "cover") %>
  <div class="boxcontent">
  <h3>Client: <span>WhaleWatching.com</span></h3>
  <h4>Website: www.WhaleWatching.com</h4>
    <p><strong>Languages / Technologies:</strong> Executed development in PHP. jQuery and Google Maps API, Twitter Bootstrap also integrated.</p>
  </div>
 </div>

   <br class="clear" />
   <h2 id="apps"><%=t '.title', :default => 'Internal Web Apps' %></h2>
  <div class="boxgrid slide">
    <%= image_tag("projects/clipper-internal-1.png", :alt => "Executed development PHP", :class => "cover") %>
  <div class="boxcontent">
  <h3>Client: <span>Clipper Vacations</span></h3>
  <h4>Website: internal web app; only viewable to customers.</h4>
    <p><strong>Languages / Technologies:</strong> Executed development in PHP. PHP utilizes Types API. App allows Clipper reservation agents to update boarding times and messaging from the backend WordPress GUI dashboard via drop-down menus easily and at their leisure. Date and time automated. CSS also utilized. </p>
  </div>
 </div>

  <div class="boxgrid slide">
    <%= image_tag("projects/clipper-internal-2.png", :alt => "Executed development PHP", :class => "cover") %>
  <div class="boxcontent">
  <h3>Client: <span>Clipper Vacations</span></h3>
  <h4>Website: internal web app; only viewable to customers.</h4>
    <p><strong>Languages / Technologies:</strong> Executed development in PHP. PHP utilizes Types API. App allows Clipper reservation agents to adjust weather and other conditions from the WordPress dashboard via drop-down menus. Weather is automated. Conditional (via PHP) CSS also utilized. </p>
  </div>
 </div>

</div>
