<% provide(:title, "Web Development Work") %>
<% provide(:content, "Karen Kirr's Web Development work") %>

<div class="page-header">
  <h1><%=t '.title', :default => 'Web Development Work'%>
    <br /> <span id="one">&#10553;
 websites |</span> <span id="two"> &#10553;
internal web apps</span></h1>
  <div class="web-work">
  <p>With the need for responsive, mobile-friendly websites, comes the need to know more and more technologies. While most of my development samples below are responsive websites, they also utilize a cavalcade of technologies.</p>
  </div>


<div class="left-home">
     <h2 class="recent-webs" id="webs"><%=t '.title', :default => 'Recent Web Dev Projects' %></h2>

  <div class="boxgrid slide">
  <%= image_tag("projects/clipper.jpg", :alt => "Executed front end development on clippervacations.com", :class => "cover") %>
  <div class="boxcontent">
    <h3>Client: <span>Clipper Vacations</span></h3>
    <h4>Website: www.ClipperVacations.com</h3>
    <p><strong>Languages / Technologies:</strong> Executed front-end theme development in WordPress; also integrated jQuery and Javascript, including Google Maps API.</p>
  </div>
</div>


<div class="boxgrid slide">
  <%= image_tag("projects/chef-jen-consulting.png", :alt => "Executed development using ASP.NET (C#)", :class => "cover") %>
    <div class="boxcontent">
      <h3>Client: <span>Chef Jenifer Smith</span></h3>
      <h4>Website: www.ChefJenSmith.com</h4>
    <p><strong>Languages / Technologies:</strong> Executed custom development in ASP.NET (C#). Also integrated JavaScript, jQuery and Twitter Bootstrap to integrate responsiveness.</p>
  </div>
</div>

<div class="boxgrid slide">
  <%= image_tag("projects/clipper-2.jpg", :alt => "Executed development using WordPress and AngularJS", :class => "cover") %>
    <div class="boxcontent">
      <h3>Client: <span>Clipper Vacations</span></h3>
      <h4>Website: www.ClipperCafeSeattle.com</h4>
    <p><strong>Languages / Technologies:</strong> Executed custom theme development in WordPress; also integrated AngularJS.</p>
  </div>
</div>

  <div class="boxgrid slide">
  <%= image_tag("projects/clipper-3.jpg", :alt => "Executed development using Drupal", :class => "cover" ) %>
  <div class="boxcontent">
    <h3>Client: <span>Clipper Vacations</span></h3>
    <h4>Website: www.ClipperVacationsMagazine.com</h4>
    <p><strong>Languages / Technologies:</strong> Executed custom theme development in Drupal; also integrated Javascript.</p>
  </div>
</div>

<div class="boxgrid slide">
  <%= image_tag("projects/clipper-4.jpg", :alt => "Executed development PHP", :class => "cover") %>
  <div class="boxcontent">
  <h3>Client: <span>WhaleWatching.com</span></h3>
  <h4>Website: www.WhaleWatching.com</h4>
    <p><strong>Languages / Technologies:</strong> Executed development in PHP. jQuery and Google Maps API, Twitter Bootstrap also integrated; site is responsive.</p>
  </div>
 </div>

 <div class="boxgrid slide">
    <%= image_tag("projects/catuara-panozzo-consulting.png", :alt => "Executed development PHP", :class => "cover") %>
  <div class="boxcontent">
  <h3>Client: <span>Catuara &amp; Panozzo Consulting, Inc.</span></h3>
  <h4>Website: www.CatuaraPanozzo.com</h4>
    <p><strong>Languages / Technologies:</strong> Executed development responsive site in PHP via custom WordPress theme. jQuery and Sass also integrated. Gruntjs also utilized to minify js files. Created grunt watch to monitor file changes (and minify on modification) via command line. </p>
  </div>
 </div>


 <div class="boxgrid slide">
    <%= image_tag("projects/Revolution-Classics.png", :alt => "Executed development PHP", :class => "cover") %>
  <div class="boxcontent">
  <h3>Client: <span>Revolution Classics</span></h3>
  <h4>Website: www.Revolution-Classics.com</h4>
    <p><strong>Languages / Technologies:</strong> Executed development in PHP via custom WordPress child theme. Javascript and CSS also integrated. Also utilized Photoshop to cutout custom car photos and overlay them on customer gradient for slider.</p>
  </div>
 </div>

   <br class="clear" />
   <h2 class="recent-webs" id="apps"><%=t '.title', :default => 'Internal Web Apps' %></h2>
  <div class="boxgrid slide">
    <%= image_tag("projects/clipper-internal-1.png", :alt => "Executed development PHP", :class => "cover") %>
  <div class="boxcontent">
  <h3>Client: <span>Clipper Vacations</span></h3>
  <h4>Website: internal web app; only viewable to customers.</h4>
    <p><strong>Languages / Technologies:</strong> Executed development in PHP. PHP utilizes Types API. App allows Clipper reservation agents to update boarding times and messaging from the backend WordPress GUI dashboard via drop-down menus easily and at their leisure. Date and time automated. CSS also utilized. </p>
  </div>
 </div>

  <div class="boxgrid slide">
    <%= image_tag("projects/clipper-internal-2.png", :alt => "Executed development PHP", :class => "cover") %>
  <div class="boxcontent">
  <h3>Client: <span>Clipper Vacations</span></h3>
  <h4>Website: internal web app; only viewable to customers.</h4>
    <p><strong>Languages / Technologies:</strong> Executed development in PHP. PHP utilizes Types API. App allows Clipper reservation agents to adjust weather and other conditions from the WordPress dashboard via drop-down menus. Weather is automated. Conditional (via PHP) CSS also utilized. </p>
  </div>
 </div>



</div>
