<!DOCTYPE html>
<html ng-app="skillk">
  <title><%= yield(:title) %></title>
  <meta name="description" content="<%= yield(:content) %>" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag  controller_name %>
  <%= favicon_link_tag 'kk.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53462384-1', 'auto');
  ga('send', 'pageview');

</script>
  <div class="container-fluid">
  <div class="col-md-9">
<%= nav_bar :fixed => :top, :responsive => true  do %>
<%= image_tag("kk-lgo.png", :alt => "KK", :class => 'kk') %>
 <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "About Me", about_index_path %>
        <%= menu_item "Skills", skills_index_path %>
        <%= menu_item "Contact Me", new_contact_path %>
    <% end %>
<% end %>
  </div>

<%= yield %>
<div class="social dash">
  <p>social media</p>
  <div>
    <%= link_to(image_tag("linkedin.png", :title => "Connect with me on LinkedIn", :alt => "Connect with me on LinkedIn"),"https://www.linkedin.com/profile/view?id=185388012")%>
  </div>
  <div>
   <%= link_to(image_tag("fb.png", :title => "Find me on Facebook", :alt => "Find me on Facebook"),"http://www.facebook.com")%>
  </div>

  <div>
   <%= link_to(image_tag("twitter.png", :title => "Follow me on Twitter", :alt => "Follow me on Twitter"),"https://twitter.com/kkirr2")%>
  </div>

</div>


</div>
</body>
</html>
